
<h5>Addresses</h5>
<h6>Billing Address</h6>
<input type="hidden" name="billing_address" value=true />
<%= f.fields_for(:addresses) do |address_fields| %>
  <%= address_fields.label :street_address, class: "col-md-4 control-label"  %>
  <div class="col-md-8">
    <%= address_fields.text_field :street_address, placeholder: "enter street", class: "form-control"  %>
  </div>
  <br />
  <%= address_fields.label :secondary_address, class: "col-md-4 control-label"  %>
  <div class="col-md-8">
    <%= address_fields.text_field :secondary_address, class: "form-control"  %>
  </div>
  <br />
  <%= address_fields.label :city, class: "col-md-4 control-label"  %>
  <div class="col-md-8">
  <%= address_fields.text_field :city, class: "form-control"  %>
  </div>
  <br />
  <%= address_fields.label :state_abbr, class: "col-md-4 control-label"  %>
  <div class="col-md-8">
    <%= address_fields.text_field :state_abbr, class: "form-control"  %>
  </div>
  <br />
  <%= address_fields.label :zip, class: "col-md-4 control-label"  %>
  <div class="col-md-8">
    <%= address_fields.text_field :zip, class: "form-control"  %>
  </div>
  <br />
  <br />
  <br />

<% end %>
