<nav class="navbar navbar-fixed-top clearfix col-md-12" id="admin-navbar">
  <div class="container">
    <div class="col-md-6">
      <%= link_to "Viking Store", root_path, :class => "navbar-brand" %>
    </div>
    <div class="col-md-1 col-md-offset-2">
      <%= image_tag("viking_store_logo_small.png", :alt => "store logo") %>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <% if current_user %>
            <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
          <% end %>
        </li>
        <li><%= link_to "View Cart", edit_cart_path(0) %></li>
        <li>
          <% if current_user %>
            <%= link_to "Sign Out", session_path(:user), :method => :delete %>
          <% else %>
            <%= link_to "Sign In", new_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
