<br />
<br />
<h1>Cart</h1>

<%= form_tag cart_path, {method: "PUT"} do %>
  <div>
    <% @cart.each do |product_id, quantity| %>
      <div class="row">
        <div class="prod_image col-md-3">
          <%= image_tag "axe.png", :alt => "Axe" %>
        </div>
        <div class="prod_name col-md-2">
          <%= get_product(product_id).name %>
        </div>
        <div class="cat col-md-2">
          <%= get_product(product_id).category.name %>
        </div>
        <div class="price col-me-2">
          <%= get_product(product_id).price %>
        </div>
        <div class="quantity col-md-1" >
          <%= label_tag :quantity %>
          <%= text_field_tag "[order]#{product_id}", quantity, class: "form-control"%>
          <br />
        </div>
        <div class="total col-md-2">
          <%= label_tag :total_price %>
          <%= get_product(product_id).price * quantity %>
        </div>
        <%= label_tag "Remove" %>
        <%= check_box_tag "[remove]#{product_id}" %>
      </div>
    <% end %>
  </div>
<% end if @cart %>
<div class="row">
  <div class="panel cart-total col-md-6">
    <h4>Total</h4>
    <%= @total %>
  </div>
  <div class="checkout_buttons col-md-6">
    <div class="update-contents">
      <%= submit_tag "Update Cart", class: "btn btn-primary" %>
    </div>
    <div class="check-out">
      <%= link_to "Check Out", '/orders', method: 'post', class: "btn btn-primary" %>
    </div>
  </div>"
</div>
